.about {
  height: 80vh; // probleme vient d'ici
  padding: 0 1rem ;
  @media screen and (min-width: 768px) {
     padding: 0 3rem;
  }
}

.bannerAboutContainer {
  background: url("../../assets/img/BG_About.png")  bottom/cover;
  border-radius: 25px;
  filter: brightness(95%);
  height: 180px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  h1{
    margin-left: 1rem ;
    color: white;
  }


  @media screen and (min-width: 992px){
height: 300px;
  }
}

.collapseContainer {
  margin: 1rem 0;

  @media screen and (min-width: 992px) {
    margin: 2rem 12rem;
  }
}

//TODO: Soucis avec le footer