.card {
  position: relative;
  margin-bottom: 1.6rem;
  height: 240px;
  width: 100%;
  //background: var(--linear-gradient);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  border-radius: 10px;

  img {
    height: 240px;
    width: 100%;
    border-radius: 10px;
  }

p {
  position: absolute;
  color: white;
  margin: 15px;
  font-size: 1rem;
}

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 992px) {
    padding-top: 100%;

    img {
      object-fit: cover;
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 10px;
    }

    p {
      font-size: 1.4rem;
    }

    //height: 450px;
    // width: 450px;
    //aspect-ratio:1/1;
  }

}


//TODO: Ameliorer le rendu des cartes