.hostContainer {
  display: flex;
  align-items: center;


  p {
    font-size: 0.8rem;
    color: var(--primary);
    margin-right: 0.4rem;
    display: flex;
    width : min-content;

  }

  img {
    height: 40px;
    object-fit: cover;
    border-radius: 50%;

  }

  @media screen and (min-width: 768px) {

    p {
      font-size: 1rem;
    }

    img {
      height: 50px;
    }

  }

  @media screen and (min-width: 992px) {

    width: 100%;
    justify-content: flex-end;

    p {
      font-size: 1.2rem;
    }

    img {
      height: 60px;
    }

  }

}