.header {
  color: var(--primary);
  padding: 35px 55px 45px 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;



   ul {
     font-size: 1rem;
     display: flex;
     flex-direction: row;
   }
}