.thumbContainer {
  height: 340px;
  width: 340px;
  background: var(--linear-gradient);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  border-radius: 10px;

p {
  color: white;
  margin: 15px;
  font-size: 0.6rem;
}

}