.bannerContainer {
  position: relative;
  border-radius: 25px;
  object-fit: cover;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    filter: brightness(65%);
    height: 100% ;
    width: 100%;
    border-radius: 25px;
  }

  h1{
    position: absolute;
    margin: 0 3rem 0 1rem;
    color: white;

  }

  @media screen and (min-width: 768px) {
    justify-content: center;
    font-size: 1rem;
    height: 130px;

  }

  @media screen and (min-width: 992px){
    height: 300px;
    margin-bottom: 3rem;
    font-size: 1.6rem;

  }
}


